<%-include('partials/header.ejs')%>
<body>  
    <%-include('partials/navbar.ejs')%>
    <div class="container">
        <div class="card" id="formulario-ask">

            <div class="card-header">
                <h3>Realizar pergunta</h3>   
            </div>

            <div class="card-body">
                <form method="post" action="/saveask">
                    <label>Titulo da Pergunta</label>
                    <input type="text" placeholder="Insira seu título aqui" class="form-control" name="titleask">
                    <br>
                    <label>Descrição</label>
                    <textarea placeholder="Descreva sua pergunta aqui" class="form-control" name="description"></textarea>
                    <br>
                    <button class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%-include('partials/footer.ejs')%>
